@use '../../../styles/variables.scss' as *;

button {
    background-color: $primary-color;
    color: #ffffff;
    font-size: 12px;
    font-family: $standart-font, $secundary-font;
    font-weight: 300;
    border-radius: 15px;
    border: $primary-color;
    width: 120px;
    height: 40px;
    cursor: pointer;
}