<form [formGroup]="agendamentoEditForm" (ngSubmit)="salvar()" class="form-container">
    <h1>ATUALIZAÇÃO DE AGENDAMENTO</h1>
    <p>
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>ID</mat-label>
            <input matInput type="number" formControlName="id">
            <mat-icon matSuffix>tag</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Código do Pet</mat-label>
            <input matInput type="number" formControlName="idPet">
            <mat-icon matSuffix>tag</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Tutor</mat-label>
            <input matInput type="text" formControlName="nomeTutor" placeholder="Nome do tutor" required>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

    <p>
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="emailTutor" placeholder="Email do tutor" required>
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Nome do Pet</mat-label>
            <input matInput type="text" formControlName="nomePet" placeholder="Nome do pet" required>
            <mat-icon matSuffix>pets</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Raça</mat-label>
            <input matInput type="text" formControlName="raca" placeholder="Raça do pet" required>
            <mat-icon matSuffix>straighten</mat-icon>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="data" matInput required placeholder="MM/DD/YYYY">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Horário</mat-label>
            <mat-select formControlName="horario">
                <mat-option value="08:00">08:00</mat-option>
                <mat-option value="09:00">09:00</mat-option>
                <mat-option value="10:00">10:00</mat-option>
                <mat-option value="11:00">11:00</mat-option>
                <mat-option value="12:00">12:00</mat-option>
                <mat-option value="13:00">13:00</mat-option>
                <mat-option value="14:00">14:00</mat-option>
                <mat-option value="15:00">15:00</mat-option>
                <mat-option value="16:00">16:00</mat-option>
                <mat-option value="17:00">17:00</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Cuidado</mat-label>
            <mat-select formControlName="cuidado">
                <mat-option value="Banho e Tosa">Banho e Tosa</mat-option>
                <mat-option value="Administração de Medicamentos">Administração de Medicamentos</mat-option>
                <mat-option value="Consulta Veterinária">Consulta Veterinária</mat-option>
                <mat-option value="Vacinação">Vacinação</mat-option>
            </mat-select>
        </mat-form-field>
    </p>

    <div class="botao-acoes">
        <app-botao (click)="salvar()" botaotxt="SALVAR" ></app-botao>
        <app-botao (click)="cancelar()" botaotxt="CANCELAR"></app-botao>
    </div>
</form>