@use '../../../styles/variables.scss' as *;

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: $standart-font;
  font-size: 12px;
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f8f9fa;
  font-weight: 600;
}

tr:hover {
  background-color: #f5f5f5;
}

.tabela {
    margin: 30px;
}

h3 {
    font-family: $standart-font;
    font-size: 18px;
    padding-bottom: 10px;
}

.botao-voltar {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 30px;
}

.titulo {
    padding-bottom: 15px;
}